@import url('https://fonts.googleapis.com/css?family=Raleway');
.phone-box{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 20px;
    margin: 5vh 15vw;
}

.phone-img-section img{
    height: 40vh;
}

.phone-summary-section h1{
    text-align: left;
    margin-bottom: 2px;
    color:#212121d1;
    font-size: 4em;
}

.user-rating-summary{
    text-align: left;
    font-size: larger;
}
.user-rating-summary img{
    height: 20px;
}

.details-small-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 2vh;
}
.details-small-grid1{
    /*border: 1px solid #ccc;*/
    height: 15vh;
    padding-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: white;
}

.large-bolder-text{
    font-weight: bolder;
    font-size: x-large;
}
.details-small-grid-head{
 font-size: 1.7em;
 text-align: center;

}
.details-small-grid-text{ 
font-size: larger;
text-align: center;
}
.sub_inner_box{
    margin: 0 auto;
    width: 1000px;
    background: #fff;
    display: inline-block;
    margin-top: 10px;
}
.border {
    border: solid 1px #ccc;
}
.heading{
    font-weight: 600 ;
    font-size: 2em;
    text-transform: uppercase ;
    color: #333 ;
    margin: 14px 5px 1px 5px ;
    display: block;
    background: none ;
    position: static ;
    line-height: 20px ;
    cursor: default;
}

.heading_bdr{
    border-bottom: solid 1px #e0e0e0;
}
.spec_box {
    width: 100%;
    display: inline-block;
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 13px;
    margin-top: 20px;
}

.spec_box .specsLeft {
    float: left;
    width: 186px;
    font-size: xx-large;
    color: darkslategrey;
}

.spec_table {
    float: left;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    max-width: 760px;
}
.spec_table tr td {
    padding: 4px 0;
    vertical-align: top;
}
.spec_ttle {
    font-weight: 600;
    min-width: 171px;
}

.spec_ttle, .spec_des {
    font-size: large;
    color: #333;
    line-height: 21px;
    text-align: left;
}